::-webkit-scrollbar {
width:.1px;
height:5px;
pacity:.02
}

::-webkit-scrollbar-button {
height:50px;
background:#42e10e
}

::-webkit-scrollbar-track {
background:#274dd7
}

::-webkit-scrollbar-track-piece {
background:#e91e63
}

::-webkit-scrollbar-thumb {
background:#fbe100;
border-radius:10px;
-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3)
}

section {
width:1280p;
margin-top:120px
}

.container {
width:1110px;
margin:0 auto
}

h1 {
width:501px;
margin-bottom:50p;
margin-bottom:0;
font-style:normal;
font-weight:700;
font-size:75px;
line-height:105%;
color:#FFF
}

h2 {
margin:0;
font-family:'Montserrat';
font-style:normal;
font-weight:700;
font-size:45px;
line-height:114%;
text-align:center;
color:#fff
}

h3 {
margin:0;
font-family:'Montserrat';
font-style:normal;
font-weight:700;
font-size:30px;
line-height:114%;
text-align:center;
color:#000
}

* {
box-sizing:border-box
}
html {
  max-width: 1280px;
}
body {
margin:0;
padding:0;
background-color:#fff;
font-family:'Montserrat';
font-size:14px;
font-weight:500
}

.header {
width:1280p;
height:844px;
background-image:url(../public/images/park.jpg);
background-size:cover;
box-shadow:inset 1280px 844px rgba(0 0 0 / 70%)
}

.header-container {
width:1110px;
margin:0 auto;
padding-top:55px
}

.header-container__park {
width:1280px;
height:844px
}

.header-menu {
display:flex;
justify-content:space-between;
align-items:center;
ine-height:114%
}

.header-menu__logo,.footer-container__content__logo {
font-style:normal;
font-weight:700;
font-size:16px;
line-height:20px;
text-align:center;
line-height:114%;
letter-spacing:.08em;
text-transform:uppercase;
color:#FFF
}

.header-menu__navigation {
display:flex;
justify-content:space-between;
align-items:center;
height:16px;
margin-right:308px
}

.header-menu__list {
display:flex;
justify-content:space-between;
align-items:center;
margin:0;
font-weight:500;
font-size:14px
}

.header-menu__list-item {
padding-right:35px;
list-style:none
}

.header-menu__list__item-link {
color:#fff;
text-decoration-line:none
}

.header-menu__phone {
display:flex;
justify-content:space-between;
align-items:center;
font-size:16px;
font-weight:700;
color:#fff
}

.header-menu__img-phone,.data-phone__img-phone {
margin-right:11px
}

.header-container__content {
display:flex;
justify-content:space-between;
flex-direction:row-reverse;
align-items:center
}

.header-containe__content__filter-lawyer {
width:574px;
height:730px;
margin-top:33px;
margin-right:-44px;
background-image:url(../public/images/Female-Lawyer-PNG-Image1.png);
background-size:cover;
transform:matrix(-1,0,0,1,0,0);
filter:brightness(1.0)
}

.header-containe__content__block_design {
display:flex;
flex-direction:column;
align-items:flex-start;
gap:50px;
padding-bottom:246px
}

.header-containe__content__buttons-h1 {
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:50p;
gap:6px
}

.btn {
display:flex;
justify-content:space-between;
flex-direction:row-reverse;
align-items:center;
width:150px;
height:52px;
padding:14px 17px;
border:1px solid #fff;
background-color:#0000;
font-family:'Montserrat';
font-size:14px;
line-height:114%;
color:#fff
}

.location {
width:24px;
height:24px;
color:#fff
}

.choice {
width:238px;
height:67px;
border:1px solid #000;
background:linear-gradient(93.12deg,#F92D2D 0%,#FFC700 100%);
font-family:'Montserrat';
font-style:normal;
font-weight:700;
font-size:15px;
line-height:114%;
color:#121111
}

.first-screen-container__content {
display:flex;
flex-direction:column;
align-items:center
}

.first-screen-container__content-h2 {
width:529px;
color:#030303
}

.first-screen__photo-buttons-text {
display:flex;
justify-content:space-between;
align-items:cente;
width:1110px;
margin-top:90px
}

.first-screen__photos {
display:flex;
flex-wrap:wrap;
justify-content:space-between;
height:316px;
margin:0
}

.img-pasport {
width:347px;
height:176px;
border-radius:7px;
filter:drop-shadow(0px 0px 20px rgba(240,57,57,0.44))
}

.img-twix {
width:178px;
height:174px;
border-radius:7px;
box-shadow:0 0 94px -39px #e7e11a
}

.img-flag {
width:157px;
height:120px;
border-radius:7px;
box-shadow:0 0 25px -6px #2b0000
}

.img-family {
width:192px;
height:120px;
border-radius:7px;
box-shadow:0 0 25px -6px #c90000
}

.img-visa {
width:156px;
height:120px;
border-radius:7px;
filter:drop-shadow(0px 0px 16px rgba(243,22,22,0.43))
}

.first-screen__common {
display:flex;
flex-direction:column;
align-items:center;
gap:26px
}

.first-screen__h3-text {
display:flex;
flex-direction:column;
align-items:flex-start;
margin-left:35px;
gap:13px
}

.first-screen__text {
width:292px;
margin:0;
font-size:17px
}

.first-screen__buttons-container {
display:flex;
flex-direction:column;
align-items:center;
margin-left:48px;
gap:13px
}

.first-screen__buttons {
display:flex;
justify-content:space-between;
align-items:center;
border:1px solid #000;
background-color:#fff;
color:#000;
cursor:pointer;
font-family:'Montserrat';
font-weight:500;
font-size:17px
}

.btn-1,.btn-3 {
width:526px;
height:51px;
padding:0 0 0 111px
}

.btn-2 {
width:526px;
height:64px;
padding:0 14px 0 111px;
background-color: red;
ackground:linear-gradient(90.69deg,rgba(249,45,45,0.75) 4.17%,rgba(255,199,0,0.79) 99.99%,rgba(254,183,5,0.68) 100%);
color:#fff;
transition:background-color .6s ease;
-webkit-transition:all .6s ease;
/*transition:all .5s ease;*/
cursor: pointer;
}

.btn-2:hover {
background-color: greenyellow;
ackground:linear-gradient(180.69deg,rgba(249,45,45,0.75) 4.17%,rgba(255,199,0,0.79) 99.99%,rgba(254,183,5,0.68) 100%);
color:black;
}

.text-btn-2 {
margin:0
}

.two-screen {
width:1280p;
height:547px;
background-image:url(../public/images/ssha-brooklyn-bridge-nyu-york.jpg);
background-size:cover;
box-shadow:0 0 0 1280px rgba(0 0 0 / 83%) inset
}

.two-screen__container-content {
display:flex;
flex-direction:column;
justify-content:space-between;
width:384px;
padding-top:200px;
gap:30px
}

.two-screen__container-content__data {
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center
}

.data-phone {
display:flex;
flex-direction:row-reverse;
justify-content:space-between;
align-items:center;
margin-right:27p;
font-style:normal;
font-weight:700;
font-size:20px;
line-height:114%;
color:#FFF
}

.data-email {
display:flex;
justify-content:space-between;
align-items:center;
font-size:18px;
line-height:114%;
color:#fff
}

.email {
margin-right:10px
}

.footer {
width:1280p;
background-color:#000
}

.footer-container__content {
display:flex;
justify-content:space-between;
align-items:center;
width:311px;
height:102px
}

.footer-container__content__copy {
font-weight:500;
line-height:114%;
color:#FFF
}

@media screen and (max-width: 1300px) {}

@media screen and (max-width:1024px) {
  html { min-width:1024px; }
}
@media screen and (max-width: 800px) {
  html { min-width:800px; }
}
@media screen and (max-width: 768px) {
  html { min-width:768px; }
}
@media screen and (max-width: 4255px) {
  html { min-width:425px; }
}
@media screen and (max-width: 375px) {
  html { min-width:375px; }
}
